<div class="diagram-input-container" ng-form="MeasurementsFormCtrl">
    <div class="diagram-input">
        <diagram-input-field ng-repeat="i in inputs" form-element="i" properties="schema[i.key]" model="model" image-height="imageHeight" image-width="imageWidth" disabled="disabled" debounce="debounce"></diagram-input-field>
        <img class="diagram-input-image" ng-src="{{image}}" style="max-width: {{maxWidth}}px" alt="Measurement Diagram"/>
    </div>
</div>
<p class="text-danger" ng-show="MeasurementsFormCtrl.$error.required && MeasurementsFormCtrl.$dirty">Missing a required measurement.</p>
<p class="text-danger" ng-show="MeasurementsFormCtrl.$error.number && MeasurementsFormCtrl.$dirty">Invalid measurement. Please correct the highlighted value.</p>
